# micro-ROS over CUSTOM UART transport (no WiFi)
CONFIG_MICRO_ROS_ESP_XRCE_DDS_MIDDLEWARE=y
CONFIG_MICRO_ROS_ESP_UART_TRANSPORT=y
# CONFIG_MICRO_ROS_ESP_NETIF_WLAN is not set
# CONFIG_MICRO_ROS_ESP_NETIF_ENET is not set

# ESP32-C6-DevKitC-1 v1.2 default pins (can be changed in menuconfig)
CONFIG_MICROROS_UART_TXD=16
CONFIG_MICROROS_UART_RXD=17
CONFIG_MICROROS_UART_RTS=-1
CONFIG_MICROROS_UART_CTS=-1

# App-level publisher task settings
CONFIG_ROBOT_MICRO_ROS_CMD_VEL_SUBSCRIBER=y
CONFIG_ROBOT_MICRO_ROS_APP_STACK=16000
CONFIG_ROBOT_MICRO_ROS_APP_TASK_PRIO=5
CONFIG_ROBOT_MICRO_ROS_UART_PORT=1
CONFIG_ROBOT_MICRO_ROS_UART_BAUDRATE=115200
